.offers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    margin: 5rem 8rem;
    border-radius: 2rem;
}
.offers h2{
    font-size: 40px;
}

.offers p{
    font-size: 23px;
}

.offers button{
    color: white;
    background-color: red;
    border: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 2rem;
}